fly.toml
Dockerfile
/.devcontainer
/.github
/.react-router
/.serena
/.vscode
/build
/dist
/server-build
/node_modules
.dockerignore
node_modules
.git
*.log
.DS_Store
.env
/.cache
.eslintrc.js
.prettierignore
prettier.config.js
