.DS_Store
/build
/public/build
/public/files
*.env
!sample.env
node_modules
vendor
deployment/dist
data/cache.db
/litefs

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
