.DS_Store
/build
/public/build
/public/files
*.env
!sample.env
node_modules
vendor
deployment/dist
data/cache.db
/server-build
/dist

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.devcontainer/.devpod-internal/
vite.config.js*

*.log

app/posts/**/d2/*.png
app/posts/.obsidian/**/*.*
!app/posts/.obsidian/appearance.json
!app/posts/.obsidian/backlink.json
!app/posts/.obsidian/community-plugins.json
!app/posts/.obsidian/core-plugins.json
